.cart-page {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  gap: 30px;
}

@media (min-width: 1024px) {
  .cart-page {
    flex-direction: row;
  }
}

.cart-items {
  display: flex;
  flex-direction: column;
}

.order-summary {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  padding: 20px;
  gap: 10px;
}

.order-summary .row {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.order-summary .product-total {
  padding-top: 20px;
  border-top: 2px dashed grey;
}

.order-summary .total {
  padding-top: 20px;
  border-top: 2px solid black;
}

.order-summary .checkout-btn {
  padding: 20px 10px;
}

.empty-cart {
  display: flex;

  /* for desktop */
  flex: 1;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-height: 60vh;
  text-align: center;
}

.empty-cart p {
  color: rgb(72, 72, 72);
}
