.item-img {
  width: 60px;
  flex-shrink: 0;
  object-fit: contain;
}

.cart-item {
  display: flex;
  padding: 20px 0;
  gap: 35px;
}

.cart-item:not(:first-child) {
  border-top: 1px solid #dfdfdf;
}

.cart-item .right-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  gap: 30px;
}

.cart-item .info .subtotal {
  font-size: 1.2rem;
}

.bottom-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.actions {
  display: flex;
  gap: 30px;
  align-items: center;
}

.cart-item button {
  width: 35px;
  height: 35px;
  background: transparent;
  border: transparent;
  border-radius: 50%;
}

.cart-item button:hover {
  background-color: rgb(223, 223, 223);
}

.cart-item button:active {
  transform: scale(0.97);
  background-color: rgb(204, 204, 204);
}
.remove-btn svg {
  fill: #3a3737;
}

.quantity-control {
  display: flex;
  padding: 2px;
  border: 1px solid black;
  border-radius: 9999px;
}

.quantity-control:focus-within {
  border: 1px solid rgb(1 88 163);
  outline: 2px solid rgb(1 88 163);
}

.quantity-control svg {
  width: 18px;
}

.quantity-control button:disabled {
  background-color: transparent;
  fill: #cccccc;
}

input[type="number"] {
  width: 40px;
  border: transparent;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}

input[type="number"]:focus {
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.bottom-row p {
  font-size: 20px;
}
