.item-img {
  width: 88px;
  flex-shrink: 0;
}

.cart-item {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

.right-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
}

.actions {
  display: flex;
  gap: 1rem;
}

.remove-btn {
  width: 35px;
  height: 35px;
  background: transparent;
  border: transparent;
  border-radius: 50%;
}

.remove-btn:hover {
  background-color: rgb(223, 223, 223);
}

.remove-btn:active {
  transform: scale(0.97);
  background-color: rgb(204, 204, 204);
}
.remove-btn svg {
  fill: #3a3737;
}
