*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

*:not(dialog) {
  margin: 0;
}

body {
  line-height: 1.5;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

:root {
  --page-wrapper-padding: 0px;
  --product-columns: 2;
  --product-grid-gaps: 10px * (var(--product-columns) - 1);
}

@media (min-width: 1024px) {
  :root {
    --product-columns: 3;
  }
}

@media (min-width: 1440px) {
  :root {
    --product-columns: 5;
  }
}
