.products {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(
    var(--product-columns),
    calc((100vw - var(--product-grid-gaps)) / var(--product-columns))
  );
  column-gap: 10px;
  row-gap: 30px;
  overflow: hidden;
}

.page-wrapper .full-bleed {
  margin: 0 calc(-1 * var(--page-wrapper-padding));
}

.hero-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
